<footer class="footer">
    <section class=" footer__infos">
        <a class="footer__text--link" href="{{ path('app_opinion_index')}}" class="link-hover mt-2">Avis</a>
        <p class="footer__text">Informations légales</h5>
        <p class="footer__text">Politique de confidentialités.</p>
        <p class="footer__infos--copyright">© Copyright 2024. Tous droits réservés Garage Parrot.</p>
    </section>
</footer>