<footer class="">
    <section class="">
        <p class="card-text">Informations légales</h5>
        <p class="card-text">Politique de confidentialités.</p>
        <p class="">© Copyright 2024. Tous droits réservés Garage Parrot.</p>
    </section>
</footer>