<footer class="footer-custom">
    <section class=" footer-custom__infos">
        <a class="footer__text" href="{{ path('app_opinion_index')}}" class="link-hover mt-2">Avis</a>
        <p class="footer__text">Informations légales</h5>
        <p class="footer__text">Politique de confidentialités.</p>
        <p class="footer-custom__infos--copyright">© Copyright 2024. Tous droits réservés Garage Parrot.</p>
    </section>
</footer>