{% extends 'base.html.twig' %}

{% block title %}Modification page accueil - Les Jardins du Golfe{% endblock %}

{% block body %}
    <main class="home-page-form">
        <div class="home-page-form__design">
            <h1 class="home-page-form__title">Modification de la page d'accueil</h1>
            {{ include('home_page/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
        </div>
        <a class="home-page-form__link-back-home-page" href="{{ path('app_home_page_index') }}">Retourner à la page d'accueil</a>
    </main>
{% endblock %}
