{% extends 'base.html.twig' %}

{% block title %}Edit Watering{% endblock %}

{% block body %}
    <h1>Edit Watering</h1>

    {{ include('watering/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_watering_index') }}">back to list</a>

    {{ include('watering/_delete_form.html.twig') }}
{% endblock %}
