<section class="tip-form__flux">
    {{ form_start(form, {'attr': {'class': 'tip-form__form'}}) }}
        {{ form_widget(form) }}
        <div class="tip-form__button-div">
            <button class="tip-form__button-div--button">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
</section>
