{% extends 'base.html.twig' %}

{% block title %}New Tips{% endblock %}

{% block body %}
    <h1>Create new Tips</h1>

    {{ include('tips/_form.html.twig') }}

    <a href="{{ path('app_tips_index') }}">back to list</a>
{% endblock %}
