<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bonjour et bienvenue aux Jardins du Golfe {{ user.firstname }} {{ user.name }} !</h1>
        <p>Nous sommes heureux de vous compter parmis nos membres.</p>
        <p>Vous avez désormais accès à tous nos tutos.</p>
        <p>Bonne visite !</p>
        <p>À bientôt,</p>
        <p>L'équipe des Jardins du Golfe</p>
    </body>
</html>