<section class='no-topic-found'>
    <h2 class='no-topic-found__title'>Aucune sujet trouvée</h2>
    <p class='no-topic-found__info'>Aucune sujet correspond à votre recherche n'a été trouvée.<br> Veuillez modifier votre recherche.</p>
</section>