{% extends 'base.html.twig' %}

{% block title %}Nouveau sujet - Les Jardins du Golfe{% endblock %}

{% block body %}
    <main class="topic-form">
        <div class="topic-form__design">
            <h1 class="topic-form__title">Création d'un sujet</h1>
            {{ include('topics/_form.html.twig') }}
        </div>
        <a class="topic-form__link-back-topics" href="{{ path('app_topics_index') }}">Retourner à la liste des sujets</a>
    </main>
{% endblock %}