{% extends 'base.html.twig' %}

{% block title %}New Opening{% endblock %}

{% block body %}
    <h1>Create new Opening</h1>

    {{ include('opening/_form.html.twig') }}

    <a href="{{ path('app_opening_index') }}">back to list</a>
{% endblock %}
