@use "../abstracts/_all" as abstracts
    
    
.openingSection
    width: 100%
    background-color: abstracts.$blackgreen
    padding-top: 1rem
    +abstracts.d-flex(row, center, center)
    margin-top: 8rem

    &__days
        background-color: abstracts.$darkgreen
        color: abstracts.$yellow
        width: 70%
        border-radius: 1rem
        +abstracts.d-flex(column, center, center)
        +abstracts.responsive('litle-tablet')
            +abstracts.d-flex(row, space-around, center)

        
    &__logo
        max-width: 40%
        margin: 3%
        +abstracts.responsive('litle-tablet')
            max-width: 26%

    &__open
        +abstracts.d-flex(column, center, center)

    &__phone
        +abstracts.text(abstracts.$text-4, abstracts.$yellow)
        font-weight: bold
        text-decoration: underline
        text-underline-offset: 0.3rem
        margin-bottom: 5%

    &__text
        +abstracts.text(abstracts.$text-4, abstracts.$yellow)
        font-weight: bold
