{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Administration des jardins du golfe{% endblock %}

{% block content %}
    <h1>Administration des jardins du Golfe</h1>
{% endblock %}