{% extends 'base.html.twig' %}

{% block title %}Modification page services - Les Jardins du Golfe{% endblock %}

{% block body %}
    <main class="services-page-form">
        <div class="services-page-form__design">
            <h1 class="services-page-form__title">Modification de la page services</h1>
            {{ include('services_page/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
        </div>
        <a class="services-page-form__link-back-services-page" href="{{ path('app_services_page_index') }}">Retourner à la page services</a>
    </main>
{% endblock %}
