{% extends 'base.html.twig' %}

{% block title %}New ServicesPage{% endblock %}

{% block body %}
    <h1>Create new ServicesPage</h1>

    {{ include('services_page/_form.html.twig') }}

    <a href="{{ path('app_services_page_index') }}">back to list</a>
{% endblock %}
