{% extends 'base.html.twig' %}

{% block title %}Modification page contact - Les Jardins du Golfe{% endblock %}

{% block body %}
    <main class="contact-page-form">
        <div class="contact-page-form__design">
            <h1 class="contact-page-form__title">Modification de la page contact</h1>
            {{ include('contact_page/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
        </div>
        <a class="contact-page-form__link-back-contact-page" href="{{ path('app_contact_page_index') }}">Retour à la page contact</a>
    </main>
{% endblock %}
