{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
        {% for contact_page in contact_pages %}
            <h1>{{ contact_page.title }}</h1>
            <section>
                <p>{{ contact_page.presentationText }}</p>
                <img src="" alt="">
            </section>
            <a href="{{ path('app_contact_page_edit', {'id': contact_page.id}) }}">edit</a>
        {% else %}
        {% endfor %}
    <section class="openingSection">
        {% include "opening/index.html.twig" %}
    </section>
{% endblock %}
