{% extends 'base.html.twig' %}

{% block title %}New ContactPage{% endblock %}

{% block body %}
    <h1>Create new ContactPage</h1>

    {{ include('contact_page/_form.html.twig') }}

    <a href="{{ path('app_contact_page_index') }}">back to list</a>
{% endblock %}
